@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p> TS/SCI cleared Systems Engineer knowledgeable in large-scale system integration and sustainment of 
    Space systems communication infrastructure seeks company to benefit from 10 plus years of extensive 
    military experience in RF (Radio Frequency) communications principles, combined with, computer network 
    training. As a multi-purpose technician well versed in switching, router technology and IT 
    administrative support can be called upon to pool this accumulated expertise to test, maintain, 
    and repair various layers of digital network infrastructure.
</p>
